body{
    background-color: #b0a9ad;
}

canvas{
    border: 4px solid  #8c2978 ;
    margin: 0 auto;
    display: block;
    border-bottom: transparent;
    background-image: url('./juego.jpg');
}